.progress-bar {
    background: transparent !important;
    margin-bottom:10px !important;
}
.lang{
    margin-bottom: -10px !important;
    position: absolute;
    top: 5px;
}
.info {
    position: relative;
}

 /* .skill-section .container .skill-title .what-span .line{
    
     border-bottom: '1px solid white';
    height: '1px';
    width: '40px';
    margin:"0 auto";
    display:'inline-block';
    margin-bottom:'3px'
 }   */

