.nav-bar {
    background-color: rgba(0, 0, 0, 0.8);
}

.clr-code{
    background-color: rgb(140, 236, 183)!important;
    /* border: 1px solid darkcyan!important; */
    color: black!important;

}

NavHashLink, NavHashLink:visited{
    background-color: rgb(140, 236, 183)!important;
}

.icon-color,.icon-color:visited{
    color:rgb(140, 236, 183)
}

.icon-color:hover{
    color:rgb(47, 226, 128)
}


.clr-code:hover{
    background-color: rgb(72, 206, 143)!important;
    /* border: 1px solid darkcyan!important; */
    color: black!important;
}

.tggle:hover {
    transition: 0.5s;
    font-weight: 400;
    color: rgb(67, 200, 138) !important;
}